{% extends "base.html" %} {% block content %}

<script>
    function categorySelected(category) {
        if (category == "Clothing") {
            document.getElementById("cloth").style.display = "block";
        } else {
            document.getElementById("cloth").style.display = "none";
        }

        if (category == "Computer Components") {
            document.getElementById("comp").style.display = "block";
        } else {
            document.getElementById("comp").style.display = "none";
        }

        if (category == "Monitor") {
            document.getElementById("mon").style.display = "block";
        } else {
            document.getElementById("mon").style.display = "none";
        }
    }
</script>

<div class="container mt-5 mb-5">

    <form method="post" class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>ADD ITEM</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="item_name">Item Name</label>
                <div class="col-md-4">
                    <input id="item_name" name="item_name" placeholder="Name" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="item_desc">Item Description</label>
                <div class="col-md-4">
                    <input id="item_desc" name="item_desc" placeholder="Description" class="form-control input-md" required="" type="text">
                </div>
            </div>



            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="item_category">Item Category</label>
                <div class="col-md-4">
                    <select id="item_category" name="item_category" class="form-control" onchange="categorySelected(this.value)">
                        <option value=""></option>
                        <option value="Monitor">Monitor</option>
                        <option value="Computer Components">Computer Components</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Snacks">Snacks</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="item_price">Item Price</label>
                <div class="col-md-4">
                    <input id="item_price" name="item_price" placeholder="Price" class="form-control input-md" required="" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="item_seller">Seller</label>
                <div class="col-md-4">
                    <input id="item_seller" name="item_seller" placeholder="Seller" class="form-control input-md" required="" type="text">
                </div>
            </div>

            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="item_image">Item Image</label>
                <div class="col-md-4">
                    <input id="item_image" name="item_image" placeholder="Image Link" class="form-control input-md" required="" type="text">
                </div>
            </div>

            <div class="form-group" id="cloth" style="display: none;">
                <label class="col-md-2 control-label" for="item_size">Item Size</label>
                <div class="col-md-2">
                    <select id="item_size" name="item_size" class="form-control">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>

                <label class="col-md-2 control-label" for="item_color">Item Color</label>
                <div class="col-md-2">
                    <select id="item_color" name="item_color" class="form-control">
                        <option value="blue">Blue</option>
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="cyan">Cyan</option>
                    </select>
                </div>
            </div>

            <div class="form-group" id="comp" style="display: none;">
                <label class="col-md-2 control-label" for="item_spec">Item Specification</label>
                <div class="col-md-2">
                    <select id="item_spec" name="item_spec" class="form-control">
                        <option value="4 GB">4 GB</option>
                        <option value="8 GB">8 GB</option>
                        <option value="16 GB">16 GB</option>
                        <option value="32 GB">32 GB</option>
                    </select>
                </div>
            </div>

            <div class="form-group" id="mon" style="display: none;">
                <label class="col-md-2 control-label" for="item_spec">Item Specification</label>
                <div class="col-md-2">
                    <select id="item_spec" name="item_spec" class="form-control">
                        <option value="21 inches">21 inches</option>
                        <option value="24 inches">24 inches</option>
                        <option value="27 inches">27 inches</option>
                    </select>
                </div>
            </div>





            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">ADD</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}