{% extends "base.html" %} {% block content %}
<script type="text/javascript">
    function formatRate(value) {
        document.write(value.toFixed(1));
    }
</script>

<div class="content">
    <div class="row">
        <div class="col-md-4 mt-2">
            <form action="category">
                <label for="category">Categories:</label>
                <select id="category" name="category">
                      <option value="All">All</option>
                      <option value="Monitor">Monitor</option>
                      <option value="Clothing">Clothing</option>
                      <option value="Computer Components">Computer Components</option>
                      <option value="Snacks">Snacks</option>
        
                    </select>
                <button type="submit">Filter</button>
            </form>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-50 mb-50">
        <div class="row">
            {% for item in items %}
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt="">
                        </div>
                    </div>

                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-2">
                                <a href="/item/{{item['_id']}}" class="text-default mb-2" data-abc="true">{{item['name']}}</a>
                            </h6>

                            <p href="#" class="text-muted" data-abc="true">{{item['description']}}</p>
                        </div>

                        <h3 class="mb-0 font-weight-semibold">${{item['price']}}</h3>

                        <div>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                            <i class="fa fa-star star"></i>
                        </div>

                        <div class="text-muted mb-3">{{item['num_of_reviewers']}} reviews</div>

                        <span class="badge text-bg-secondary">
                            <i style="color:gold;" class="fa fa-star"></i>
                            <script type="text/javascript">
                                formatRate({{item.avg_rating}});
                            </script>
                        </span>

                        <!-- <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button> -->


                    </div>
                </div>


            </div>
            {% endfor %}

        </div>
    </div>
    <hr>


</div>

{% endblock %}