{% extends "base.html" %} {% block content %}

<style>
    body {
        background-color: #ecedee
    }
    
    .card {
        border: none;
        overflow: hidden
    }
    
    .thumbnail_images ul {
        list-style: none;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-top: 10px
    }
    
    .thumbnail_images ul li {
        margin: 5px;
        padding: 10px;
        border: 2px solid #eee;
        cursor: pointer;
        transition: all 0.5s
    }
    
    .thumbnail_images ul li:hover {
        border: 2px solid #000
    }
    
    .main_image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
        overflow: hidden
    }
    
    .heart {
        height: 29px;
        width: 29px;
        background-color: #eaeaea;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    
    .content p {
        font-size: 12px
    }
    
    .ratings span {
        font-size: 14px;
        margin-left: 12px
    }
    
    .colors {
        margin-top: 5px
    }
    
    .colors ul {
        list-style: none;
        display: flex;
        padding-left: 0px
    }
    
    .colors ul li {
        height: 20px;
        width: 20px;
        display: flex;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer
    }
    
    .colors ul li:nth-child(1) {
        background-color: #6c704d
    }
    
    .colors ul li:nth-child(2) {
        background-color: #96918b
    }
    
    .colors ul li:nth-child(3) {
        background-color: #68778e
    }
    
    .colors ul li:nth-child(4) {
        background-color: #263f55
    }
    
    .colors ul li:nth-child(5) {
        background-color: black
    }
    
    .right-side {
        position: relative
    }
    
    .search-option {
        position: absolute;
        background-color: #000;
        overflow: hidden;
        align-items: center;
        color: #fff;
        width: 200px;
        height: 200px;
        border-radius: 49% 51% 50% 50% / 68% 69% 31% 32%;
        left: 30%;
        bottom: -250px;
        transition: all 0.5s;
        cursor: pointer
    }
    
    .search-option .first-search {
        position: absolute;
        top: 20px;
        left: 90px;
        font-size: 20px;
        opacity: 1000
    }
    
    .search-option .inputs {
        opacity: 0;
        transition: all 0.5s ease;
        transition-delay: 0.5s;
        position: relative
    }
    
    .search-option .inputs input {
        position: absolute;
        top: 200px;
        left: 30px;
        padding-left: 20px;
        background-color: transparent;
        width: 300px;
        border: none;
        color: #fff;
        border-bottom: 1px solid #eee;
        transition: all 0.5s;
        z-index: 10
    }
    
    .search-option .inputs input:focus {
        box-shadow: none;
        outline: none;
        z-index: 10
    }
    
    .search-option:hover {
        border-radius: 0px;
        width: 100%;
        left: 0px
    }
    
    .search-option:hover .inputs {
        opacity: 1
    }
    
    .search-option:hover .first-search {
        left: 27px;
        top: 25px;
        font-size: 15px
    }
    
    .search-option:hover .inputs input {
        top: 20px
    }
    
    .search-option .share {
        position: absolute;
        right: 20px;
        top: 22px
    }
    
    .buttons .btn {
        height: 50px;
        width: 150px;
        border-radius: 0px !important
    }
</style>

<script type="text/javascript">
    function changeRange(value) {
        var range = document.getElementById('customRange2');
        var range_value = document.getElementById('range_value');
        range_value.innerHTML = value;
    }

    function formatRate(value) {
        document.write(value.toFixed(1));
    }
</script>
<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image"> <img src="{{item['image']}}" id="main_product_image" width="350"> </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2>{{item.name}}</h2>
                        </div>
                        <div class="mt-2 pr-3 content">
                            <p>{{item['description']}}</p>
                        </div>
                        <h3>${{item['price']}}</h3>
                        <h6 class="text-muted">Seller: {{item.seller}}</h6>
                        <h6 class="text-muted">Category: {{item.category}}</h6>
                        {% if item['category'] == "Monitor" or item['category'] == "Computer Components" %}
                        <h6 class="text-muted">Spec: {{item.spec}}</h6>
                        {% elif item['category'] == "Clothing" %}
                        <h6 class="text-muted">Size: {{item.size}}</h6>
                        <h6 class="text-muted">Color: {{item.color}}</h6>
                        {% endif %}
                        <div class="ratings d-flex flex-row align-items-center">
                            <div class="d-flex flex-row">
                                <span class="badge text-bg-secondary">
                                    <i style="color:gold;" class="fa fa-star"></i>
                                    <script type="text/javascript">
                                        formatRate({{item.avg_rating}});
                                    </script>
                                </span>
                            </div>
                            <div class="d-flex flex-row"> <span>{{item['reviews']|length}} reviews</span> </div>
                        </div>

                        <label for="customRange2" class="form-label">Rate the item</label>
                        <div class="d-flex flex-row">
                            <form method="post">
                                <span><input oninput="changeRange(this.value)" name="rate" type="range" class="form-range" min="0" max="5" id="customRange2"></span>
                                <span id="range_value">3</span> <span>/5</span>
                                <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Rate</button>

                            </form>

                        </div>


                        <hr>
                        <h3>Reviews </h3>
                        {% for review in item['reviews'] %}

                        <h4>{{review['reviewer']}}</h4>
                        <p>{{review['review']}}</p>
                        <hr> {% endfor %}

                    </div>


                </div>

            </div>
        </div>


        <div class="form-outline col-md-12 justify-content-center">
            <form method="post">
                <label class="form-label" for="review">Leave a comment</label>
                <textarea name="review" class="form-control" id="review" rows="4"></textarea>
                <div class="form-group">
                    <label class="col-md-12 control-label" for="singlebutton"></label>
                    <div class="col-md-12">
                        <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>



    {% endblock %}